*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: white;
}
#flex1{
    flex: 1;
    padding-left: 20px;  

}
#span1{
    border-right: 2px solid lightgray;
    padding-right: 20px;
}


.navmenu1 ul{
    display: flex;
    align-items: center;
    
    
}
.navmenu1 li{
    list-style: none;

}

.navmenu{
    display:flex;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    margin: 50px;
    width: 800px;
    /* width: fit-content; */
    float: left;
    position: relative;
    color: green;
}
.container{
    display:grid;
    grid-template-columns: 200px ;
    grid-template-rows: 200px 200px 200px 300px 300px;
   
    flex-direction: column;
    height: 100%;
    align-content: center;
    flex-wrap: wrap;
    align-items: normal;
    width: 100%;
    height: 100%;
    display: table;
    box-sizing: border-box;

}
.orange{
    background-color:orangered;
    border: 2px solid orangered;
   box-sizing: border-box;
   border-radius: 2px;
   color: white;
   font-size: 12px;
   width: 100px;
   height: 20px;
   display:grid;
    grid-template-columns: 100px;
    grid-template-rows: 0px;
    margin-left: 100px;
    margin-top: 20px;
}
.orangetwo{
    background-color:orangered;
    border: 2px solid orangered;
   box-sizing: border-box;
   border-radius: 2px;
   color: white;
   font-size: 12px;
   width: 100px;
   height: 20px;
   /* display:grid;
    grid-template-columns: 100px;
    grid-template-rows: 0px; */
    margin-left: 50px;
    margin-top: 10px;
}


.h1{
    color: black;
}
.details{
    display:grid;
    grid-template-columns: 200px 300px 300px;
    grid-template-rows: 150px;
    justify-content:space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
    font-size: large;
    font-weight: bold;
    align-items: end;

}

.b1{
    background-color: green;
    border: 2px solid green;
   box-sizing: border-box;
   border-radius: 2px;
   color: white;
   font-size: 12px;
}
.account{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMQePmhaEXIG0ITYmEVl5bI5iM8FGLA3Kuew&usqp=CAU");
    /* background-size: cover; */
    background-repeat: no-repeat;
    padding-top: 50px;
    height: 100vh;
    width: 900px;
    height: 600px;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: gray;
    background-size:cover;
    justify-content:space-between;
    justify-items: center;
    margin-top: 100px;
    margin-left: 20px;

}
#connect li {
    list-style-type: none;
    display: flex;
}
#connect{
    list-style-type: none;

}
.groupone{
    display: flex;
    list-style-type: none;
}
.grouptwo{
    display: flex;
    list-style-type: none;
}
.footer{
    width: 900px;
    height: 600px;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: gray;
    background-size:cover;
    justify-content:space-between;
    justify-items: center;
    margin-top: 100px;
    margin-left: 20px;

}

.box{
    width: 900px;
    height: 600px;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    background-image: url( "https://www.garden.eco/wp-content/uploads/2018/04/corn-leaves.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    justify-content:space-between;
    justify-items: center;
    margin-top: 100px;
    margin-left: 20px;  
}
.boxtwo{
    width: 900px;
    height: 600px;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: gray;
    background-size:cover;
    justify-content:space-between;
    justify-items: center;
    margin-top: 100px;
    margin-left: 20px;
}
.boxseven{
    width: 900px;
    height: 600px;
    padding: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    background-color:white;
    background-size:cover;
    justify-content:space-between;
    justify-items: center;
    margin-top: 100px;
    margin-left: 20px;

}

#contentone{
    font-size: xx-large;
   text-align: center;
}
#contenttwo{
    font-size: medium;
    text-align: center;
}
#contentthree{
    font-size: xx-large;
    text-align: center;
}
#contentfour{
    font-size: medium;
    text-align: center;
}
#contentfive{
    color: green;
    background-color: white;
    font-size: medium;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 12px;
    width: 100px;
    height: 20px;
    display:grid;
    grid-template-columns: 100px;
    grid-template-rows: 0px;
    margin-left: 100px;
    margin-top: 20px;

}
#minione{
    font-size: xx-large;
   text-align: center;
}
#minitwo{
    font-size: medium;
    text-align: center;
}
.farmerone{
    width: 200px;
    height: 200px;
    /* background-color:green; */
    padding: 10px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 2px; 
    justify-content:space-between;
    margin-top: 90px;
  

}
.Farmertwo{
    width: 200px;
    height: 200px;
    /* background-color:green; */
    padding: 10px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 2px; 
    justify-content:space-between;
    margin-top: 90px;
  
}
.farmerthree{
    width: 200px;
    height: 200px;
    /* background-color:green; */
    padding: 10px;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 2px; 
    justify-content:space-between;
    margin-top: 90px;
  
}

    

.boxthree{
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 10px;
    border: 2px solid gray;
    box-sizing: border-box;
    border-radius: 2px; 
    justify-content:space-between;
    margin-top: 40px;
  
}
.boxfour{
    width: 200px;
    height: 200px;
    background-color:gray;
    padding: 10px;
    border: 2px solid gray;
    box-sizing: border-box;
    border-radius: 2px; 
    justify-content:space-between;
    margin-top: 30px;
   
}

.boxfive{
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: white;
    border: 2px solid gray
    box-sizing: border-box;
    border-radius: 10px;
    justify-content:space-between;
    justify-items: center;
    margin-top: 40px;
     
}
.boxsix{
    width: 200px;
    height: 200px;
    background-color: gray;
    padding: 10px;
    border: 2px solid gray;
    box-sizing: border-box;
    border-radius: 2px; 
    justify-content:space-between;
    margin-top: 30px;
    
}

.elementtwo{
    margin-left: 20px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 50px 50px 50px 50px ;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 200px ;
}
#grid{
    margin-left: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:150px ;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px ;

}
#gridtwo{
    margin-left: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:150px ;
    grid-template-areas:main ;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px ;

}
#main{
    grid-area: main;
    background-color: green;

}
.boxeight{
    display: flex;
}
.boxnine{
    display: flex;
}